body {
  margin: 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  background-color: darkslategray;
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
}
